#portal-menubar {
  line-height: 1.6em;
  padding: 0.5em 3em 0em 3em;
  margin: 0;
  text-align: right;
  list-style: none;
}

#portal-menubar li {
  margin-left: 1em;
  display: inline;
}

#portal-menubar li a {
  text-decoration: none;
  border:none;
}

